:root {
    --border-c: rgb(225, 225, 225);
    --icon-c: #3369e8;
    --btn-hover: #3369e8db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: var(--border-c);
}

.controls-parent {
    font-family: sans-serif;
    margin-top: 20px;
    padding: 10px;
}

.controls-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.controls-h-left {
    font-weight: 600;
    display: flex;
    gap: 20px;

}

.controls-h-l-btn {
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    background-color: white;
}

.controls-h-hide {
    font-size: 18px;
}

.controls-h-l-btn:active{
    border-bottom: 2px solid black;
}

.sub-header {
    padding: 10px;
    margin-top: 5px;
}

.sub-h-btn {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: var(--border-c);
    padding: 5px 9px;
    margin: 0 5px;
}

#entries-panel {
    font-size: 18px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    height: 80vh;
   resize: none;
}

.controls-wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
}




#entry-color {
    opacity: 0;
}

.entry-color-wrapper {
    padding: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../assets/color-picker.png);
    border: 3px solid rgb(49, 145, 255);
    border-radius: 10px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.entry-color-wrapper:hover {
    background-color: var(--border-c);
}

.close {
    padding: 0 10px;
    background-color: transparent;
    border: none;
    font-size: 28px;
    color: gray;
    margin-bottom: 5px;
}

#check-hide {
    width: 15px;
    height: 15px;
}

#open-advance {
    padding: 0 5px;
    font-size: 24px;
    font-weight:900;
    color: var(--icon-c);
    border-radius: 10px;
    border-color: var(--icon-c);
    border-width: 2px;
    position: relative;
    right: 40px;
    bottom: 55px;
}

.controls-a-card-sub-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.controls-a-card-sub-1 {
    display: flex;
}

.controls-a-card-main {
   margin: 10px;
    width: 70%;
}

#entry-name {
    width: 100%;
    height: 35px;
    font-size: 18px;
     margin-bottom: 10px;
    padding: 10px;
    background-color: var(--border-c);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    border: none;

}

#entry-name:hover {
    border-bottom: 1px solid black;
}

#entry-name:focus {
    border-bottom: 2px solid var(--icon-c);
}

.controls-a-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#add-entry {
    width: 100%;
    margin: 10px 0;
    background-color: var(--icon-c);
    padding: 10px 10px;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

#add-entry:hover {
background-color: #3369e8db;
}





.display-results {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--border-c);
    padding: 20px;
    width: 100%;
    height: 80vh;
   resize: none;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#results-wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    display: none;
    
}

.main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wheel-iframe {
    width: 50vw;
    height: 100vh
}

.controls-parent {
    width: 50vw;
   

    /* this is for layout purpose to be remove later. */

    border: 1px solid black;
    
}