body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#play-area {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0a0f12;
  border-radius: 50%;
}
