body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#play-area {

  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#starter {
  font-size: 98px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0a0f12;
  border-radius: 50%;
}

@media only screen and (max-width: 370px) {
  #starter {
    padding: 20px;
    font-size: 72px;
  }
}