:root {
    --main-bg: white;
    --hands: #4c4c4c;
    --font-c: #4c4c4c;
    --date-c: #a5a5a5;
}

body {
    font-family: sans-serif;
    background-color: var(--main-bg);
}

.clock-ana {
    width: 250px;
    height: 250px;
   
    box-shadow: inset 5px 3px 12px rgba(38, 40, 39, 0.219),
    5px 3px 12px rgba(38, 40, 39, 0.219);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

.wrapper {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
  
}

.nums {
    width: 1px;
    height: 20px;
    background-color: var(--font-c);
}

.t-12 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.t-6 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.t-9 {
    position: absolute;
    left: 10px;
    top: 46%;
    margin-left: 10px;
    transform: translateY(-50%);
    transform: rotate(90deg);

}

.t-3 {
    position: absolute;
    right: 10px;
    top: 46%;
    margin-right: 10px;
    transform: translateY(-50%);
    transform: rotate(90deg);
}

#hands-sec {
    width: 2px;
    height: 100px;
    background-color: rgb(54, 250, 175);
    position: absolute;
    top: 44px;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(0deg); 
    z-index: 9;
}

#hands-min {
    width: 6px;
    height: 80px;
    background-color: var(--hands);
    position: absolute;
    top: 64px;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(20deg); 
}

#hands-hr {
    width: 8px;
    height: 70px;
    background-color: var(--hands);
    position: absolute;
    top: 75px;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(70deg); 
}

.center {
    border-radius: 50%;
    border: 2px solid var(--main-bg);
    width: 12px;
    height: 12px;
    background-color: rgb(54, 250, 175);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.clock-digit {
    color: var(--font-c);
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 98px;
    font-weight:500;
    display: flex;
}

.am-pm {
    color: var(--font-c);
    font-size: 16px;
    margin-left: 15px;
    font-weight: 700;
}

#date {
    color: var(--date-c);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px; 
}

#digit-parent {
    margin-top: 50px;
    display: flex;
}

.digit-wrapper {
    font-family: sans-serif;
    display: flex;
}

.p-wrapper {
    display: flex;
}

#btn {
    font-weight: 700;
    font-size: 24px;
    border-radius: 50%;
    color: rgb(54,250,175);
    border: 2px white ;
    box-shadow: inset 5px 3px 12px rgba(38, 40, 39, 0.219),
     5px 3px 12px rgba(38, 40, 39, 0.219);
    background-color: var(--main-bg);
    margin-left:20px;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

